nav {
  font-weight: bold;
  margin-bottom: 2rem;
}

.nav-link {
  color: whitesmoke !important;
  text-decoration: none;
}

.nav-link.active {
  text-decoration: underline;
  color: aquamarine !important;
}

.navbar-brand {
  color: whitesmoke;
}
