<h1>Forms</h1>
<p>
  Reactive forms can be very challenging and confusing to some, especially when
  using inline error validation. Simply "touching" a form input field shouldn't
  trigger an invalid error message. Screen reader users tend to explore a form
  before filling it out. This is natural, a sighted user can instantly see
  what's required to fill out a form. So, why not give users a chance before
  displaying a mess of errors? You should not need to if you have create a good
  form with adequate queues for required fields and valid input.
</p>
<hr />
<!-- <app-form1></app-form1> -->
<app-form2></app-form2>
