<h1>Web Accessibility Initiative</h1>
<h4>From Wikipedia, the free encyclopedia</h4>

<p>
    This article is about the WAI. For television station formerly known as WAI, see WAOH-CD.
    The World Wide Web Consortium (W3C)'s Web Accessibility Initiative (WAI) is an effort to improve the accessibility
    of
    the World Wide Web (WWW or Web) for people with disabilities. People with disabilities may encounter difficulties
    when
    using computers generally, but also on the Web. Since people with disabilities often require non-standard devices
    and
    browsers, making websites more accessible also benefits a wide range of user agents and devices, including mobile
    devices, which have limited resources.
</p>

The W3C launched the Web Accessibility Initiative in 1997 with endorsement by The White House and W3C members. It
has several working groups and interest groups that work on guidelines, technical reports, educational materials and
other documents that relate to the several different components of web accessibility. These components include web
content, web browsers and media players, authoring tools, and evaluation tools.