<div class="app">
  <!-- #top used for focus top enhancement -->
  <header role="banner" id="top">
    <!-- Skip to main content -->
    <button class="skip-link" (click)="skipTo()">
      Skip to main content
    </button>
    <a class="skip-link" (click)="skipTo()">
      Skip to main content
    </a>
    <app-navbar></app-navbar>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <main id="main" role="main">
          <router-outlet></router-outlet>
        </main>
      </div>
      <div class="col-lg-4">
        <app-aside-region></app-aside-region>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <app-footer-region></app-footer-region>
  </div> -->

</div>