<div class="app">
  <!-- Blank top div used for focus top enhancement -->
  <div id="top"></div>
  <!--  -->

  <header role="banner">
    <!-- Skip to main content -->
    <button class="skip-link" (click)="skipTo()">
      Skip to main content
    </button>
    <!--  -->

    <app-navbar></app-navbar>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <main id="main" role="main">
          <router-outlet></router-outlet>
        </main>
      </div>
      <div class="col-lg-4">
        <app-aside-region></app-aside-region>
      </div>
    </div>
  </div>
  <footer role="contentinfo">
    <app-footer-region></app-footer-region>
  </footer>
</div>
