<h1>Welcome to my Angular A11y Sandbox</h1>
<p>
  The purpose of this Angular app is to highlight
  <abbr title="Single Page Application">SPA</abbr> accessibility best practices.
</p>
<p>
  This is a work in progress.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est sunt omnis
  vel recusandae voluptas, doloremque possimus mollitia expedita officia hic
  similique quibusdam, corrupti nihil voluptatum voluptates dolore nesciunt
  praesentium!
</p>
